song {
    color: #bd5e5e;
    padding-block: 10px;
    display: block;
    background: rgba(135, 230, 215, 0.5);

}
pageTitle {
    color: #bd5e5e;
    padding-left:10px;
    padding-top: 10px;
    font-weight: 700;
    text-decoration: underline;
    display: block;
    background: rgba(135, 230, 215, 0.5);
    font-size: 30px;

}


songTitle, artists, genres, year{
    display: block;
    margin-left: 10px;


}
songTitle {
    font-weight: 700;
    font-size: 18px;
}


artists:before{
    content: "Artist(s): "
}
genres:before{
    content: "Genre(s): "
}

year:before{
    content: "Year: "
}

genre:after {
    content: ", "
}
genre:last-child::after {
    content: ""
}

artist:after {
    content: ",  "
}
artist:last-child::after {
    content: ""
}